@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* nav */

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  align-items: center;
}

header h1 {
  background-color: #1170ff;
  color: #ede6d6;
  padding: 1rem;
  width: 30rem;
  border-radius: 2rem;
  margin-left: auto;
  margin-right: auto;
}

/* search section */

.search-container {
  margin-left: 2%;
  max-width: 35rem;
}

@media only screen and (max-width: 500px) {
  .full-container {
    width: 30rem;
  }
}

.search {
  margin-bottom: 1rem;
}

.search button {
  background-color: #1170ff;
  margin-left: 0.5rem;
}

.search-history {
  padding: 0.5rem;
}

.city-button {
  max-width: 8rem;
  background-color: #1170ff;
  color: #ede6d6;
  margin: 0.23rem;
}

.clearBtn {
  margin: 1rem;
  margin-right: 0 auto;
}

/* weather section */

.weather-container {
  margin-bottom: 4rem;
  margin-left: 8%;
  max-width: 70rem;
}

@media only screen and (max-width: 1440px) {
  .weather-container {
    margin-left: 5%;
  }
}

.current-weather {
  padding: 1rem;
  border-radius: 0.5rem;
}

.uvIndex {
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.item {
  margin-bottom: 0.5rem;
}

.fiveday-wrapper {
  padding: 1rem;
}

.fiveday-wrapper h2 {
  margin-left: 1rem;
}

.weather-cards {
  background-color: #1170ff;
  box-shadow: 0.5rem 0.5rem 1rem #f2d031;
  color: #ede6d6;
  margin: 2rem;
  text-align: center;
}

@media only screen and (max-width: 1445px) {
    .weather-cards {
        margin: 0.4rem;
    }
  }

@media only screen and (max-width: 500px) {
  .weather-cards {
    margin: 4rem;
    text-align: center;
  }
}
